</div class="main-text text-center">
  <%= form_for @give do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= f.label :picture %>
    <%= f.file_field :picture%>

    <%= f.submit("Submit Donation") %>
  <% end %>
</div>
