<h1>Shopping Cart</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Brief Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% cart.each do |item| %>
    <tr id='<%= item.title %>'>
      <td>
        <%= link_to item.title, item, class: 'lead-column' %>
                <%= link_to "x", cart_path(item_id: item.id), method: :put, class: "btn btn-danger btn-xs cart-delete-btn" %> (remove from cart)
      </td>
      <td><%= item.description %></td>
      <td><%= dollar_string(item.price) %></td>
      <td><%= link_to "-", cart_path(item_id: item.id, remove: true), method: :put, class: "btn btn-primary btn-xs btn-cart-qty btn-danger" %><%= item.quantity %><%= link_to "+", cart_path(item_id: item.id, add: true), method: :put, class: "btn btn-primary btn-xs btn-cart-qty btn-success" %></td>
      <td><%= dollar_string(item.subtotal) %></td>
<!--  -->
    </tr>
  <% end %>
  <% if !(cart.empty?) %>
  <tr>
    <td></td><td></td><td></td><td></td>
    <td><%= dollar_string(cart.total) %></td>
  </tr>
  <% end %>
</table>

<% if cart.empty? %>
  <%= 'You have no items in your cart' if cart.empty? %>
<% else %>
  <!-- <h3>Total: <%= @total %></h3> -->
  <h3>Total: <%= dollar_string(cart.total) %></h3>
  <%= link_to "Checkout", orders_path, class: "btn-primary btn cart-checkout-btn" %>
<% end %>
