<h1>Shopping Cart</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Brief Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% cart.each do |item| %>
    <tr id='<%= item.title %>'>
      <td>
        <a href="/items/<%= item.id %>">
          <div id='link' style="height:100%;width:100%">
            <%= item.title %>
          </div>
        </a>
      </td>
      <td><%= item.description %></td>
      <td><%= dollar_string(item.price) %></td>
      <td><%= item.quantity %></td>
      <td><%= dollar_string(item.subtotal) %></td>
      <td><%= button_to "Delete", cart_path(item_id: item.id), method: :put %></td>
      <td><%= button_to "Add", cart_path(item_id: item.id, add: true), method: :put %></td>
      <td><%= button_to "Remove", cart_path(item_id: item.id, remove: true), method: :put %></td>
    </tr>
  <% end %>
  <% if !(cart.empty?) %>
  <tr>
    <td></td><td></td><td></td><td></td>
    <td><%= dollar_string(cart.total) %></td>
  </tr>
  <% end %>
</table>

<% if cart.empty? %>
  <%= 'You have no items in your cart' if cart.empty? %>
<% else %>
  <!-- <h3>Total: <%= @total %></h3> -->
  <h3>Total: <%= dollar_string(cart.total) %></h3>
  <%= link_to "Checkout" %>
<% end %>
