<h1>Shopping Cart</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Brief Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @cart_items.each do |item| %>
    <tr>
      <td>
        <a href="/items/<%=item.id%>">
          <div id='link' style="height:100%;width:100%">
            <%= item.title %>
          </div>
        </a>
      </td>
      <td><%= item.description %></td>
      <td><%= dollar_string(item.price) %></td>
      <td><%= item.quantity %></td>
      <td><%= dollar_string(item.subtotal) %></td>
    </tr>
  <% end %>
  <% if !(@cart_items.empty?) %>
  <tr>
    <td></td><td></td><td></td><td></td>
    <td><%= dollar_string(cart_total(@cart_items)) %></td>
  </tr>
  <% end %>
</table>

<% if @cart_items.empty? %>
  <%= 'You have no items in your cart' if @cart_items.empty? %>
<% else %>
  <!-- <h3>Total: <%= @total %></h3> -->
  <h3>Total: <%= dollar_string(cart_total(@cart_items)) %></h3>
  <%= link_to "Checkout" %>
<% end %>
