<% content_for :title, "give'n'get - View Items" %>

<!-- Page Content -->
<div class="container">
  <div class="row">
  <div class="col-md-3">
  <p class="lead">give'n'get</p>
  <div class="list-group">
    <a href="#" class="list-group-item cat-button" id="cat1">Category 1</a>
    <a href="#" class="list-group-item cat-button">Category 2</a>
    <a href="#" class="list-group-item cat-button">Category 3</a>
  </div>
  </div>
<div class="col-md-9">

<div class="row carousel-holder">
<div class="col-md-12">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
    <div class="item">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
    <div class="item">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
</div>

<!-- begin item listing -->
<div class="row">
<% @items.each do |item| %>
  <div class="col-sm-4 col-lg-4 col-md-4" id='<%= item.title %>'>
    <div class="thumbnail">
      <img src="http://placehold.it/320x150" alt="" class='thumbnail-pic'>
      <div class="caption">
      <h4 class="pull-right">
        <%= dollar_string(item.price) %>
      </h4>
      <h4>
        <%= link_to item.title, item %>
      </h4>
      <p>
        <%= item.description %>
      </p>
      <%= form_for(item, url: 'carts#show') do |f| %>
      <%= f.submit "Add to Cart" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<!-- end item listing -->

</div>
</div>
</div>
</div>
<!-- /.container -->
<!-- footer from template remove here -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>
