<!-- Page Content -->
<div class="container">
<div class="row">

  <div class="col-md-3">
    <div class="list-group">
      <span class="list-group-item list-heading">
        Categories
      </span>
      <% @categories.each do |cat| %>
        <%= link_to cat.title, cat, class: "list-group-item" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/800x300" alt="">
      <div class="caption-full">
        <h4 class="pull-right"><%= dollar_string(@item.price) %></h4>
        <h4><%= @item.title %></h4>
        <p><%= @item.description %></p>
        <%= form_for(:cart, url: 'carts#new') do |f| %>
          <%= f.hidden_field :item, value: @item.id %>
          <%= f.submit "Add to Cart", class: "btn btn-primary index-cart-btn" %>
          <%= f.label :quantity, "Qty: ", class: "qty" %>
          <%= f.text_field :quantity, maxlength: 3, size: 3, value: "1" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
</div>
</div>
</body>
